.m_availablity {
    /* height: 1000px; */
    /* width: %; */
    /* margin-top: auto;
    margin-left: 20px;
    margin-bottom: auto; */
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    padding: 30px;
}

.navbar {
    min-height: 100px;
}

.navbar-brand {
    min-height: 100px;
}